
<form action="/insert" method="post" role="form">
    <legend>Bootcamp stuff</legend>
    <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Input...">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{testing}}
